*{
	-fx-primary : #2A2E37;
	-fx-secondary : #FFFF8D;
	-fx-primary-text : #B2B2B2;
	-fx-danger: #FF3333;
	}

.root{
	-fx-background-color: -fx-primary;
}

.glyph-icon{
	-fx-fill: -fx-primary-text;
}

.button{
	-fx-text-fill: -fx-primary-text;
	-fx-background-color: -fx-primary;
}

.login-button{
	-fx-border-color: -fx-secondary;
	-fx-border-radius : 20px;
	-fx-background-radius: 20px;
	-fx-font-size : 13pt;
}

.login-button:hover{
	-fx-border-color: -fx-secondary;
	-fx-background-color: -fx-secondary;
}

.text-field{
	-fx-text-fill: -fx-primary-text;
	-fx-font-size : 13pt;
	-jfx-focus-color: -fx-secondary;
}

.wrong-auth{
	-jfx-unfocus-color: -fx-danger;
	-jfx-focus-color : -fx-danger;
}

/* Main prencipe Styling start  here*/

/* TabPane style */
.tab{
	-fx-background-color: -fx-primary;
	-fx-pref-width: 300;
	-fx-pref-height: 60;
}

.tab-header-background{
	-fx-background-color: -fx-primary;
}

/* Menu bar style */
.menu-bar{
	-fx-base:-fx-primary;
	-fx-background-color: -fx-primary;
}

.content-menu{
	-fx-background-color: derive(-fx-primary, 20%) ;
}

/* Hamburger Styling */
.jfx-hamburger-icon{
	-fx-spacing: 7;
}

.jfx-hamburger-icon StackPane{
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 5px;
}

.toolbar-button{
	-fx-background-color: derive(-fx-primary, 20%) ;
}


.toolbar-button:hover{
	-fx-background-color: -fx-secondary ;
	-fx-text-fill : -fx-primary
}

.toolbar-button:hover .glyph-icon{
	-fx-fill : -fx-primary;
}














